


.pay{
    width: max-content;
    height: max-content;
    padding: 0.7rem 1rem;
    border: 1px solid grey;
    background-color: inherit;
    color: inherit;
    letter-spacing: 2px;
    align-self: center;
    margin-top: 0.8rem;
    cursor: pointer;
}

.confermpayment{
    width: 90%;
    height: max-content;
    padding: 0.4rem 0px;
    align-self: center;
}

.paymentmethod{
    width: 90%;
    height: max-content;
    align-self: center;
    margin-top: 0.3rem;
}

