

.productsdiv{
    width: 100%;
    height: max-content;
    box-sizing: content-box;
    padding: 3rem 0rem;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    border-bottom: 1px solid grey;
}




